@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
body {
  font-family: "Helvetica", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 20px;
  background-color: rgb(230,300,300)
}

#bodycontainer {
  background-color: white;
	max-width: 1000px;
	height: 100%;
	min-height: 100vh;
  margin: 50px auto;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 40px;
  border: 1px dashed black;
  padding: 20px;
  border-radius: 100px;
}


.classheader {
    text-align: center;
}

.classheader .title {
  font-size: 2.2em;
  font-weight: bold;
}


.classinfo {
  text-align: center;
  font-size: 0.8em;
  margin: 20px 0px 40px 0px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.images img {
  max-width: 45%;
}

.images-caption {
  font-style: italic;
  text-align: center;
  margin: 40px;
}

.rounded-rectangle {
  border: 2px dashed black;
  padding: 40px;
  border-radius: 150px;
  text-align: center;
}

.description {
  text-align: center;
}

.rectangle {
  border: 2px dotted rgb(192, 18, 18);
  padding: 45px;
  text-align: left;
}

.rolecardgov {
  background-color: #4fc3ff;
  max-width: 500px;
  border: 2px solid black;
  padding: 40px;
  border-radius: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.rolecardnongov {
  max-width: 500px;
  border: 2px solid black;
  padding: 40px;
  border-radius: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.element {
  max-width: 500px;
  border: 2px solid rgb(255, 0, 0);
  padding: 40px;
  border-radius: 150px;
  text-align: center;
  margin-bottom: 40px;
}

.action {
  max-width: 500px;
  border: 2px solid rgb(26, 26, 26);
  padding: 40px;
  border-radius: 100px;
  text-align: left;
  margin-bottom: 40px;
}

.buttons {
  margin: 10px 0px;
}

.images {
  height: 500px;
  position: relative;
}

img {
  /* position: absolute;
  top: 0;
  left: 0; */
  max-height: 100%
  /* opacity: 0; */
}

#webcam-container {
    position: absolute;
    top: 30px;
    left: 5px;
}

#toggle-webcam {
    position: absolute;
    top: 5px;
    right: 5px;
}

.card_image, .card_back {

  background-color: pink;
  height: 400px;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.card_back {
  display: none;
}

.rolecardnongov:hover .card_back {
  display: block;
}


.rolecardnongov:hover .card_image {

  display: none;
}